In [1]:
import pandas as pd
from googletrans import Translator

In [3]:
config = {
    "QNA_CSV_PATH": "csv/QnA.csv",
    "languages": [
        "en",
        "hi",
        "mr"
    ],
}
df=pd.read_csv(config.get("QNA_CSV_PATH").split("/")[-1])

In [4]:
df.head()

,question,answer_en
0,Science as a career,Science offers many career options such as eng...
1,How is commerce as a career?,Commerce is the second most popular career opt...
2,How is arts or humanities as a career?,Arts/ Humanities are of those who are interest...
3,What is ITI?,They are training centers that provide courses...
4,What are polytechnic courses?,"After class 10th, students can go for polytech..."

In [5]:
# for each language in config, translate the question and answer and add to the dataframe

languages = config.get("languages")
for lang in languages:
    df[f"answer_{lang}"] = df["answer_en"].apply(lambda x: Translator().translate(x, dest=lang).text)
df.head()

,question,answer_en,answer_hi,answer_mr
0,Science as a career,Science offers many career options such as eng...,विज्ञान कई करियर विकल्प प्रदान करता है जैसे इं...,"विज्ञान अभियांत्रिकी, वैद्यकीय आणि संशोधन भूमि..."
1,How is commerce as a career?,Commerce is the second most popular career opt...,विज्ञान के बाद कॉमर्स दूसरा सबसे लोकप्रिय करिय...,विज्ञानानंतर वाणिज्य हा दुसरा सर्वात लोकप्रिय ...
2,How is arts or humanities as a career?,Arts/ Humanities are of those who are interest...,कला/मानविकी उनमें से हैं जो अकादमिक शोध में रु...,ज्यांना शैक्षणिक संशोधनात रस आहे अशा कला/मानवश...
3,What is ITI?,They are training centers that provide courses...,वे प्रशिक्षण केंद्र हैं जो स्कूल पूरा करने के ...,ही प्रशिक्षण केंद्रे आहेत जी शालेय शिक्षण पूर्...
4,What are polytechnic courses?,"After class 10th, students can go for polytech...","10वीं के बाद छात्र मैकेनिकल, सिविल, केमिकल, कं...","दहावीनंतर विद्यार्थी मेकॅनिकल, सिव्हिल, केमिकल..."

In [6]:
df.to_csv(config.get("QNA_CSV_PATH").split("/")[-1], index=False)